@{
    ViewBag.Title = "About";
}
<body style="background-image: url('https://i.pinimg.com/736x/80/c9/e6/80c9e6ce488aa29fd380e020c9edf221.jpg');">

    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <p>Nossa empresa foi criada apartir de um projeto de estagiarios da empresa 5by5</p>
    
    </body>