@{
    ViewBag.Title = "Home Page";
}
<body style ="background-image: url('https://i.pinimg.com/736x/80/c9/e6/80c9e6ce488aa29fd380e020c9edf221.jpg');" >

<div>
    <h1>LanchoNet</h1>

</div>


    </body>

